<!-- <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)"> -->
  <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee(employeeForm)">
<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Employee</h3>
  </div>
  <div class="panel-body">
    <!-- <div class="form-group" [class.has-error]="fullNameControl.dirty && fullNameControl.touched"
    [class.has-success]="fullNameControl.valid"> -->
    <!-- <div class="form-group" [ngClass]="{'has-error': employeeForm.get('fullName').errors &&
    (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty) }"> -->
    <div class="form-group" [ngClass]="{'has-error':formErrors.fullName }">
      <label for="fullName" class="control-label">Full Name</label>
      <!-- <input type="text" required id="fullname" name="fn" class="form-control" [(ngModel)]="fullname" #fullNameControl="ngModel"> -->
      <input type="text" required id="fullname" name="fn" class="form-control" formControlName="fullName" (blur)="logkeyvaluepairs()">
      <!-- <span class="help-block" *ngIf="fullNameControl.touched && fullNameControl.invalid">Full Name is required</span> -->  
      <span class="help-block" *ngIf="formErrors.fullName">{{formErrors.fullName}}</span>  
    </div>
    <div class="form-group">
      <label>Contact Preference</label>
      <div class="form-control">
        <label class="radio-inline">
        <input type="radio" value="phone" formControlName="ContactPreference">Phone
      </label>
    <label class="radio-inline">
        <input type="radio"  value="email"  formControlName="ContactPreference">Email
      </label>
      </div>     
    </div>
    <div class="form-group" [ngClass]="{'has-error':formErrors.email}">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control" formControlName="email"  (blur)="logkeyvaluepairs()">
      <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>  
    </div>
    <!-- <div class="form-group">
      <label for="date">Date of Birth</label>
      <input type="text" id="date" name="date" class="form-control" bsDatepicker>
    </div> -->
    <div class="form-group" [ngClass]="{'has-error':formErrors.phone}">
      <label for="phn">Phone No.</label>
      <input type="text" id="phn" name ="phn" class="form-control" formControlName="phone" (blur)="logkeyvaluepairs()" >
      <span class="help-block" *ngIf="formErrors.phone">{{formErrors.phone}}</span>  
    </div>
    <!-- <div class="form-group">
      <label for="photo">Photo path</label>
      <input type="text" id="photo" name ="photo" class="form-control">
    </div> -->

    <!-- <div class="form-group">
      <button type="button" (click)="ShowPreview()" class="btn btn-primary">{{previewphoto? "Hide" : "Show"}}Preview</button>
    </div>
    <div class="form-group">
      <img [src]="photo" width="100" height="200" *ngIf="previewphoto">
    </div> -->
    <!-- <div class="form-group">
      <div class="form-control">
      <label class="checkbox-inline">
        <input type="checkbox" id="isActive" name ="isActive">
        Is Active</label>    
      </div>
    </div> -->
    <!-- <div class="form-group">    
      <label for="depttype">Department</label>  
       <select id="depttype" class="form-control" name="depttype">
         <option *ngFor="let dept of department" [value]="dept.id">{{dept.name}}</option>
       </select>  
    </div> -->
    <!-- <div class="form-group">
      <label>Gender</label>
      <div class="form-control">
        <label class="radio-inline">
        <input type="radio" value="male" name="nmgender"  >Male
      </label>
    <label class="radio-inline">
        <input type="radio" value="female"  name="nmgender">Female
      </label>
      </div>    
    </div> -->
  
<div formGroupName="skills" class="well">
  <div class="form-group">
    <label class="col-md-2 control-label">Skill</label>
    <div class="col-md-4">
      <input type="text" placeholder="Name" class="form-control" formControlName="skillName">
    </div>
    <div class="col-md-6">
      <input type="text" placeholder="Experience in Years" class="form-control" formControlName="experienceInYears">
    </div>
  </div>
  <br/>
  <br/>
    <div class="form-group">
      <label class="col-md-2 control-label">Proficiency</label>
      <div class="col-md-8">
        <label class="radio-inline">
        <input type="radio" value="Begineer" formControlName="Proficiency">Begineer
      </label>
      <label class="radio-inline">
        <input type="radio" value="Intermediate" formControlName="Proficiency">Intermediate
      </label>
    <label class="radio-inline">
        <input type="radio" value="Advanced" formControlName="Proficiency">Advanced
      </label>
      </div>    
    </div> 
</div>
   
  </div>
  <div class="panel-footer">
    <div class="btn-toolbar">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" (click)="LoadData()">Load Data</button>
  </div>
  </div>
</div>
</div>
</form>

